<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <customErrors xdt:Transform ="RemoveAttributes(defaultRedirect)" />
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect"
                  xdt:Transform ="SetAttributes(mode,redirectMode)"/>
    <compilation xdt:Transform="RemoveAttributes(debug,batch)" />
  </system.web>
 
</configuration>