<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections xdt:Transform="InsertBefore(/configuration/*[1])">
      <section
        name="pageAppearance"
        type="Samples.AspNet.PageAppearanceSection"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
  </configSections>

  <connectionStrings>
    <add name="employeeDb"
     connectionString="Data Source=prod.sedotech01;Initial Catalog=EmployeeDb;Integrated Security=True"
     xdt:Transform="InsertAfter(/configuration/connectionStrings/add[2])"/>
  </connectionStrings>
  
</configuration>