<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdvancedZipInfoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wsparam.strikeiron.com/StrikeIron/ZIPPostalCodeInfo5/AdvancedZipInfo"
                binding="basicHttpBinding" bindingConfiguration="AdvancedZipInfoSoap"
                contract="ServiceReference1.AdvancedZipInfoSoap" name="AdvancedZipInfoSoap" />
        </client>
    </system.serviceModel>
</configuration>
