<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\temp\publish\01</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/TransformMultipleWebConfigs.dll">
      <publishTime>05/02/2012 22:18:23</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>05/01/2012 22:32:16</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>05/01/2012 22:32:24</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>05/01/2012 23:09:09</publishTime>
    </File>
    <File Include="Views/Home/Web.config">
      <publishTime>05/02/2012 22:18:23</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>05/01/2012 22:32:16</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>05/01/2012 22:32:16</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>05/02/2012 22:18:23</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>05/01/2012 22:32:16</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>05/02/2012 22:18:23</publishTime>
    </File>
  </ItemGroup>
</Project>