<!--<?xml version="1.0" encoding="utf-8"?>-->
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/FooBar</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CustomWebDeployParameters-20120330080057;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CustomWebDeployParameters-20120330080057;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishConnectionConfigurationInsertions>$(PublishConnectionConfigurationInsertions)</PublishConnectionConfigurationInsertions>
  </PropertyGroup>

  <ItemGroup>    
    <MsDeployDeclareParameters Include="AppID">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <!-- XPath expression to locate the value to be updated -->
      <Match>/configuration/appSettings/add[@key='appId']/@value</Match>
      <Description>Value for the AppID here.</Description>
      <!-- This is the default value. If there is a Value present then this is only useful for the
      package case. When you package the Value property will not be used for the package. -->
      <DefaultValue>app-value-default-value</DefaultValue>
      <!-- The value for this property, this is an optional field. For packaging this will not be used. -->
      <Value>your-app-value</Value>
      <Priority>$(VsSetAclPriority)</Priority>
      <ExcludeFromSetParameter>True</ExcludeFromSetParameter>
    </MsDeployDeclareParameters>

    <MsDeployDeclareParameters Include="AppSecret">
      <Kind>XmlFile</Kind>
      <Scope>Web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='appSecret']/@value</Match>
      <Description>Enter the value for page size</Description>
      <DefaultValue>app-id-here</DefaultValue>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    
    <MsDeployDeclareParameters Include="PageSize">
      <Kind>XmlFile</Kind>
      <Scope>Web.config</Scope>
      <Match>/configuration/appSettings/add[@key='pageSize']/@value</Match>
      <Description>Enter the value for page size</Description>
      <DefaultValue>25</DefaultValue>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
</ItemGroup>
  
</Project>