<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="pageSize" value="50" 
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IncludesConfigPath" value="~/../../Prod/Config/includes.xml.config"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="helpUrl" value="http://inlinetasks.com/help"
         xdt:Transform="Insert" />
    <add key="helpPhone" value="555-123-4567"
         xdt:Transform="InsertBefore(/configuration/appSettings/add[3])"/>
  </appSettings>

  <connectionStrings>
    <add name="recordsDb"
         connectionString="Data Source=prod.sedotech01;
         Initial Catalog=RecordsDb;Integrated Security=True"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
    
    <add name="accountsDb"
         xdt:Transform="Remove" />
  </connectionStrings>
  
<system.web>
  <customErrors xdt:Transform ="RemoveAttributes(defaultRedirect)" />
  <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" 
                xdt:Transform ="SetAttributes(mode,redirectMode)"/>
  <compilation xdt:Transform="RemoveAttributes(debug,batch)" />

  <authorization xdt:Transform="Insert">
    <allow roles="Administrators,Users" />
    <deny users="*" />
  </authorization>

</system.web>
</configuration>