<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="pageSize" value="2" />
    <add key="IncludesConfigPath" value="~/Config/includes.xml.config"/>
    <add key="IncludesApplicationName" value="inlinetasks.com"/>
  </appSettings>

  <connectionStrings>
    <add name="recordsDb" 
         connectionString="Data Source=localhost;Initial Catalog=RecordsDb;Integrated Security=True"/>
    <add name="accountsDb" 
         connectionString="Data Source=localhost;Initial Catalog=RecordsDb;Integrated Security=True"/>
    <add name="partnersDb" 
         connectionString="Data Source=localhost;Initial Catalog=RecordsDb;Integrated Security=True"/>
  </connectionStrings>

<system.web>
  <customErrors mode="Off" defaultRedirect="/error.html" />
  <compilation debug="true" targetFramework="4.0" batch="true" />
</system.web>
</configuration>
